assignment1.txt
[{"id":"8b1e49bd.d26138","type":"random","z":"de18eb6e.932d58","name":"","low":"1","high":"10","inte":"true","x":367,"y":232,"wires":[["8f6ea473.b32328"]]},{"id":"b13dcfff.bae29","type":"inject","z":"de18eb6e.932d58","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":242.888916015625,"y":121,"wires":[["8b1e49bd.d26138"]]},{"id":"7c3758d2.676c48","type":"debug","z":"de18eb6e.932d58","name":"","active":true,"console":"true","complete":"payload","x":665.888916015625,"y":135,"wires":[]},{"id":"8f6ea473.b32328","type":"function","z":"de18eb6e.932d58","name":"Msg Displayed","func":"var num = JSON.parse(msg.payload);\nvar msg1 = {\n     payload: \"Number \" + num + \" is a low number\" \n };\n \nvar msg2=\n{\n     payload: \"Number \" + num + \" is a high number\" \n };\n if (num < 5) {\n     return msg1 ;\n } else {\n     return msg2 ;\n }\n return msg;\n\n\n","outputs":1,"noerr":0,"x":588.888916015625,"y":268,"wires":[["7c3758d2.676c48"]]}]